{"config_name":"pin_control","update_rate":33.333333333333336,"acceptCommands":["ledControl"],"pin_map":{"led0":{"pin":"USR0","output":true,"pwmEnabled":false,"value":0},"led1":{"pin":"USR1","output":true,"pwmEnabled":false,"value":0},"led2":{"pin":"USR2","output":true,"pwmEnabled":false,"value":0},"led3":{"pin":"USR3","output":true,"pwmEnabled":false,"value":0},"ledRed":{"pin":"P9_14)","output":true,"pwmEnabled":false,"value":0},"ledGreen":{"pin":"P9_16","output":true,"pwmEnabled":false,"value":0},"ledBlue":{"pin":"P9_22","output":true,"pwmEnabled":false,"value":0}},"pwm":["P8_13","P8_19","P8_34","P8_36","P8_45","P8_46","P9_14","P9_16","P9_21","P9_22","P9_28","P9_29","P9_31","P9_42"]}