{"led0":{"pin":"USR0","output":true,"pwmEnabled":false,"value":0},"led1":{"pin":"USR1","output":true,"pwmEnabled":false,"value":0},"led2":{"pin":"USR2","output":true,"pwmEnabled":false,"value":0},"led3":{"pin":"USR3","output":true,"pwmEnabled":false,"value":0},"ledRed":{"pin":"P9_14)","output":true,"pwmEnabled":false,"value":0},"ledGreen":{"pin":"P9_16","output":true,"pwmEnabled":false,"value":0},"ledBlue":{"pin":"P9_22","output":true,"pwmEnabled":false,"value":0}}